
:root {
  --map-width: 970px;
  --map-height: 768px;
  --map-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/1864_Mitchell_Map_of_the_World_on_Mercator_Projection_-_Geographicus_-_World-mitchell-1864.jpg/970px-1864_Mitchell_Map_of_the_World_on_Mercator_Projection_-_Geographicus_-_World-mitchell-1864.jpg);
  --map-image-old: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/World_1910.jpg/960px-World_1910.jpg);
  --pin-image: url(https://upload.wikimedia.org/wikipedia/commons/e/ed/Map_pin_icon.svg);
  --transition: 250ms;
}

/* Accessibility.
*/
@media (prefers-reduced-motion) {
  :root {
    --transition: 0;
  }
}

[ data-icon ]::after {
  content: attr(data-icon) / '';
}

.X_[ data-tip ]:hover::after {
  content: attr(data-tip);
  margin-left: 1rem;
}

#mapRegion {
  background-color: #f5f5f5;
  border: 1px solid silver;
  margin: 1rem 0;
  transition: all var(--transition);
}

[ data-map-style = 'false' ] {
  section {
    padding: 0 1rem;
  }

  fieldset,
  [role = group] {
    margin: 1rem 0;
  }

  [role = group] {
    border: 1px dashed gray;
    padding: 1rem;
  }

  li,
  [role = listitem] {
    margin: .2rem 0;
  }
}

[ data-map-style = 'true' ] {

  [ data-icon ]::after {
    font-size: x-large;
  }

  #mapRegion {
    background-image: var(--map-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: var(--map-width);
    height: var(--map-height);

    position: relative;

    /* Accessibility
    */
    .visually-hidden,
    #panButton,
    & > h2,
    fieldset > h3,
    sr-only {
      position: absolute;
      height: 1px;
      width: 1px;
      overflow: hidden;
      padding: 0;
    }

    #panButton:focus {
      height: 2.2rem;
      width: 2.2rem;
    }

    ul,
    fieldset {
      border: none;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    #controlsGroup {
      position: absolute;
      right: .8rem;
      top: 4rem;

      button {
        color: #b00;
        margin: 1px 0;
        height: 2.3rem;
        width: 2.3rem;
      }
    }

    [ data-pin-id = uk ] {
      left: 65%;
      top: 35%;
    }

    [ data-pin-id = zh ] {
      left: 6%;
      top: 41%;
    }

    [ data-pin-id = tim ] {
      left: 65%;
      top: 50%;
    }

    [ data-pin-id ] {
      position: absolute;
      background-image: var(--pin-image);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: rgba(255,255,255, .3);
      border-color: transparent;
      border-radius: .2rem;
      width: 2rem;
      height: 2rem;
      padding: 0;

      &:focus,
      &:hover {
        background-color: white;
        border-color: red;
      }

      transition: all var(--transition);
    }

    #attributionGroup {
      position: absolute;
      right: .2rem;
      bottom: .2rem;
      background: #fafafa;
      display: inline-block;
      font-size: .8rem;
      padding: .3rem;
    }

    #pinsGroup {
      summary::marker {
        X_display: none !important;
        color: transparent;
        font-size: xx-small;
      }
    }
  }
}

* {
  outline-offset: .3rem;
}

#mapStyle {
  margin: 1rem 0;
  padding: 1rem;

  label {
    margin-right: 1rem;
    padding: .5rem 0;
  }
}

dialog {
  background-color: #fafafa;
}

button {
  color: inherit;
}

body {
  background-color: #fefefe;
  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
  margin: auto;
  max-width: var(--map-width);
  padding: 0 1rem;
}
